<!--  <!doctype HTML>
<html>
  <head>  <title> Squacoon Sighting Report Form </title>
  <link rel = "stylesheet" type = "text/css"  href= "css/style.css">

  </head>

  <body>
  <h2>  Squacoon Sighting Report Form </h2>
  <form method = "post">
    <label for "name"> Name </label> <input type = "text" name = "name">
   <br>
    <label for "contact"> Contact </label>
    <input type = "email" name = "contact">
    <br>
    <label for "date"> Date </label> <br> <input type = "date" name = "date">
    <br>
    <label for "emotion"> Emotional Response </label><br>
    <select name = "emotion">
      <option class = "label" value = "panic"> Panic </option>
      <option class = "label" value = "cute" > Awww </option>
      <option class = "label"i value = "Noble"> Awed Respect </otpion>
    </select>
  <br>
    <input type = "submit" value = "Submit">

  </form>
  <img width = "250" height = "180" src = "http://bekat.yolasite.com/resources/squacoon.JPG.opt378x275o0,0s378x275.JPG"
  > </body>
</html> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
    <title>Veggie Off!</title>
  </head>

  <body>

  <h1> Veggie-off!! </h1>

    <form method = "PUTS"

    <label for "users"> Enter the users:</label> <br>
    User1: <input type = "text" name = "users"> <br>
    User2: <input type = "text" name = "users"> <br>
    User3: <input type = "text" name = "users"> <br>
    User4: <input type = "text" name = "users"> <br>
    User5: <input type = "text" name = "users"> <br>
    <input type = "submit" value = "Click me!"> <br>
  </body>
    </form>
</html>