<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
    <title>Veggie Off!</title>
  </head>


  <h1> Veggie-off!! </h1>
    <body>
    <form method = "POST">

    <label for "users"> Enter the users:</label> <br>
    User1: <input type = "text" name = "user1"> <br>
    User2: <input type = "text" name = "user2"> <br>
    User3: <input type = "text" name = "user3"> <br>
    User4: <input type = "text" name = "user4"> <br>
    User5: <input type = "text" name = "user5"> <br>
    <input type = "submit" value = "Click me!"> <br>
  </body>
    </form>
</html>