<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" type = "text/css" href = "css/style4.css">
  <title>Veggie-Off!</title>
 </head>
 <body>
   <form method = "POST" action = "/lastpage">
   <div>
     <h1> YOU WON, <%=@winner.upcase%> </h1>
  </div>
  </body>
</html>