<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href = "css/style2.css">
    <title>Veggie Off!</title>
  </head>

  <body>
<div>
<h1> <%=@player1%> vs. <%=@player2%> !</h1>
        <br>
        <input type = "submit" value = "VEGGIE-OFF!">
</div>
  </body>
</html>