<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" type = "text/css" href = "css/style3.css">
  <title>Veggie-Off!</title>
 </head>
 <body>

   <h1> <%=@adjectives%> <%=@vegetables%>! </h1>

  </body>
</html>