<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <link rel = "stylesheet" type = "text/css" href = "css/style3.css">
  <title>Veggie-Off!</title>
 </head>
 <body>
   <div>
   <h1> <%=@adjectives%> <%=@vegetables%>! </h1>
     <br> <br>
   Vote for Player1: <input type = "submit" name = >
   Vote for Player2: <input type = "submit" name = >
  </div>
  </body>
</html>
