h1 {
    color: black;
    font-size: 75px;
    font-family: Verdana, sans-serif;
}
body {
  text-align: center;
}

div{
  margin-top: 10%;
}
input[type=submit] {
        width: 200px;
        height: 100px;
        font-size: 27px;
}