html {
  background: url("confetti.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   max-width: 100%;
        cursor: url(http://board.crossfit.com/misc.php?do=showsmilies), auto;
}
h1 {
    text-align: center;
    color: black;
    font-size: 75px;
    margin-top: 20%;
    font-family: Verdana, sans-serif;
}