html {
  background: url(http://previews.123rf.com/images/notkoo2008/notkoo20081105/notkoo2008110500285/9635585-cartoon-Fruits-and-Vegetables-seamless-pattern-Stock-Vector-cute-seamless-fruit.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}