html {
  background: url(http://www.mygreentucson.com/sitebuildercontent/sitebuilderpictures/HealthierYou/.pond/Vegies_dancing.jpg.w300h220.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        cursor: url(http://orig07.deviantart.net/d433/f/2012/093/8/2/dancing_broccoli_icon_by_rosietheumbreon-d4uwzmz.gif), auto;
}