html {
  background: url(http://previews.123rf.com/images/notkoo2008/notkoo20081105/notkoo2008110500285/9635585-cartoon-Fruits-and-Vegetables-seamless-pattern-Stock-Vector-cute-seamless-fruit.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: url(http://orig07.deviantart.net/d433/f/2012/093/8/2/dancing_broccoli_icon_by_rosietheumbreon-d4uwzmz.gif), auto;
}
h1 {
    text-align: center;
    color: black;
    font-size: 75px;
    font-family: Verdana, sans-serif;
}
body {
  text-align: center;
}

div {
  margin-top: 10%;
}
div.transbox {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    padding-bottom: 50px;
    width: 600px;
}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
/*     opacity: 1; */
}
