h1 {
    color: black;
    font-size: 75px;
    font-family: Verdana, sans-serif;
}
body {
  text-align: center;
}

div {
  margin-top: 10%;
}
input[type=submit] {
        width: 200px;
        height: 100px;
        font-size: 27px;
}

html {
  background: url(http://images.all-free-download.com/images/graphiclarge/vegetables_set_clip_art_11837.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}